p {
  font-size: 16px;
  line-height:15px;
  text-align:center;
  color: #223344;
  }

h1 {
  font-size: 70px;
  color: red;
  }

.name{
  text-align:center;
  font-family: 'Rock Salt', cursive;
}
.quotes {
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  }

ul li {
  list-style-type: circle;
}

img{
  margin: 3rem;
  border: 5px solid navy;
  padding: 5px;
}
