body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
}

.navigation > ul {
  display: flex;
  justify-content: center;
}

.navigation > ul > li {
  width: auto;
  list-style-type: none;
  margin: 20px;
  font-family: Raleway;
}
.navigation>ul>li a {
  text-decoration: none;
  color: grey;
}

.navigation>ul>li a:hover {
  text-decoration: underline;
}




.shelly-img {
  max-width: 400px;
}

.flex-item {
  max-width: 900px;
  text-align: left;
  padding-top: 10rem;
  }
.hello{
  padding-top: 5rem;
  padding-left: 2rem;
}


.flexbox {
  display: flex;
  flex-direction: row;
justify-content: center;
}

.footer {
  text-align: center;
  font-size: 0.75rem;
  padding-top: 10rem;
}
p {
  font-family: lato;
}



.center-img {
  max-width: 100%;
  height: auto;
}

h1 {
  text-decoration: underline;
}
h3{
  text-decoration:underline;
  padding-bottom: 25px;
}
.icons {
  text-align: center;
}

.image-connect {
max-width: 100%;
text-align: center;
}
.connect-navigation{
  font-family: lato;
  font-size: 1rem;
  line-height: .5em;
  padding-top:5em;
  padding-bottom: 10em;
}





.text-connect{
font-size: 20px;
text-decoration: none;
}
.web-intro{
  text-decoration: none;
  text-align: center;
}
.flex-main{
  padding-left: 10rem;
  padding-right: 2.5rem;
}

.fab {
  color: black;
}

/* START web page */
.web-intro{
  text-align: center;
}
.fc-web-article{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  background-color: #BEA8AA;
  border-radius: 20px;
  margin: 40px auto 0 auto;
  padding: 20px 50px;
  justify-content: space-between;
}
.mock-article{
background-color: #D8DAD3;
text-align: center;
border-radius: 20px;
box-sizing: border-box;
margin-bottom: 20px;
height: 70%;
}
.fan-page{
  background-color: #D8DAD3;
  text-align: center;
border-radius: 20px;
box-sizing: border-box;
margin-bottom: 20px;
height: 50%;
}
.requirements{
  text-align:left;
}
/* END web page*/
